body {
      font-family: 'Indie Flower', cursive;
      text-align: center;
      font-size: 3em;
      background-color: cornflowerblue;
}

body > h3 {
      border: 2px solid black;
      border-radius: 1em;
      font-size: .7em;
      padding: 1em;
}

span {
      color: rgb(229, 255, 0);
      font-size: 3em;
}